.bullet-repo::before {
  content: "\f171";
  line-height: 24px;
  font-family: FontAwesome;
  font-size: 12px;
  float: left;
  margin-right: 5px;
}

.bullet-contributor::before {
  content: "\f2c0";
  line-height: 24px;
  font-family: FontAwesome;
  font-size: 12px;
  float: left;
  margin-right: 5px;
}

.bullet-release::before {
  content: "\f005";
  line-height: 24px;
  font-family: FontAwesome;
  font-size: 12px;
  float: left;
  margin-right: 5px;
}

.bullet-jira::before {
  content: "\f06d";
  line-height: 24px;
  font-family: FontAwesome;
  font-size: 12px;
  float: left;
  margin-right: 5px;
}

.bullet-wiki::before {
  content: "\f02d";
  line-height: 24px;
  font-family: FontAwesome;
  font-size: 12px;
  float: left;
  margin-right: 5px;
}

.list-margin-top {
  margin-top: 5px;
}

.img-margin-right {
  margin-right: 5px;
}

.remove-list-style {
  list-style: none;
}

.topic-vertical-align {
  vertical-align: middle;
}

.projects-row {
  margin-top: 20px;
}

.project-card {
  width: 419px;
  height: 192px;
}

.project-card-image {
  width: 150px;
  height: 150px;
}

.project-card-text-block {
  height: 150px;
  float: right;
}

.project-card-title {
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  overflow: hidden;
  height: 30px;
}
